openapi: 3.0.3
info:
  title: Bloxs Real Estate API
  description: |
    API for connecting to Bloxs real estate management software. 
    Bloxs is a powerful real estate accounting platform for property management, 
    including relations, real estate objects, contracts, maintenance, and invoices.
    
    ## OData Query Support
    This API supports OData query parameters for advanced filtering and data retrieval:
    - **$filter**: Filter results using OData filter expressions (e.g., `status eq 'active'`, `rentAmount gt 1000`)
    - **$select**: Select specific properties to return (e.g., `name,email,phone`)
    - **$orderby**: Sort results by one or more properties (e.g., `name asc`, `createdAt desc`)
    - **$top**: Limit the number of results returned
    - **$skip**: Skip a number of results for pagination
    - **$count**: Include total count of matching results
    - **$expand**: Expand related entities (e.g., `tenant`, `unit`, `building`)
    - **$search**: Full-text search across searchable fields
    
    ## Read-Only Access
    This API provides read-only access to Bloxs data. All endpoints are GET operations for data retrieval.
  version: "1.0.0"
  contact:
    name: Bloxs Software Support
    email: support@bloxs.com
    url: https://www.bloxs.com
servers:
  - url: https://stadsgezicht.bloxs.io/odatafeed
    description: Bloxs Stadsgezicht OData Feed API
security:
  - bloxsApiKey: []
paths:
  # ==================== RELATIONS ====================
  /Relations/EstateAgents:
    get:
      operationId: getEstateAgents
      summary: Get Estate Agents
      description: Retrieve a list of estate agents including real estate brokers and rental agents
      tags:
        - Relations
      parameters:
        - name: search
          in: query
          description: Search term to filter estate agents by name or other attributes
          schema:
            type: string
        - name: limit
          in: query
          description: Maximum number of results to return
          schema:
            type: integer
            default: 50
        - name: offset
          in: query
          description: Number of results to skip for pagination
          schema:
            type: integer
            default: 0
      responses:
        '200':
          description: List of estate agents
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/EstateAgent'
                  total:
                    type: integer

  /Relations/EstateAgents/{id}:
    get:
      operationId: getEstateAgentById
      summary: Get Estate Agent by ID
      description: Retrieve a specific estate agent by their unique identifier
      tags:
        - Relations
      parameters:
        - name: id
          in: path
          required: true
          description: Unique identifier of the estate agent
          schema:
            type: string
      responses:
        '200':
          description: Estate agent details
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EstateAgent'
        '404':
          description: Estate agent not found

  /Relations/Organisations:
    get:
      operationId: getOrganisations
      summary: Get Organisations
      description: Retrieve a list of organisations (tenants that are entities such as commercial real estate or partnerships)
      tags:
        - Relations
      parameters:
        - name: search
          in: query
          description: Search term to filter organisations by name
          schema:
            type: string
        - name: limit
          in: query
          schema:
            type: integer
            default: 50
        - name: offset
          in: query
          schema:
            type: integer
            default: 0
      responses:
        '200':
          description: List of organisations
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/Organisation'
                  total:
                    type: integer

  /Relations/Organisations/{id}:
    get:
      operationId: getOrganisationById
      summary: Get Organisation by ID
      description: Retrieve a specific organisation by its unique identifier
      tags:
        - Relations
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Organisation details
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Organisation'
        '404':
          description: Organisation not found

  /Relations/Owners:
    get:
      operationId: getOwners
      summary: Get Owners
      description: Retrieve a list of real estate owners. Each owner has their own financial administration.
      tags:
        - Relations
      parameters:
        - name: search
          in: query
          description: Search term to filter owners by name
          schema:
            type: string
        - name: limit
          in: query
          schema:
            type: integer
            default: 50
        - name: offset
          in: query
          schema:
            type: integer
            default: 0
      responses:
        '200':
          description: List of owners
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/Owner'
                  total:
                    type: integer

  /Relations/Owners/{id}:
    get:
      operationId: getOwnerById
      summary: Get Owner by ID
      description: Retrieve a specific owner by their unique identifier
      tags:
        - Relations
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Owner details
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Owner'
        '404':
          description: Owner not found

  /Relations/Persons:
    get:
      operationId: getPersons
      summary: Get Persons
      description: Retrieve a list of persons (contact persons within organizations, employees, etc.)
      tags:
        - Relations
      parameters:
        - name: search
          in: query
          description: Search term to filter persons by name
          schema:
            type: string
        - name: organisationId
          in: query
          description: Filter persons by organisation
          schema:
            type: string
        - name: limit
          in: query
          schema:
            type: integer
            default: 50
        - name: offset
          in: query
          schema:
            type: integer
            default: 0
      responses:
        '200':
          description: List of persons
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/Person'
                  total:
                    type: integer

  /Relations/Persons/{id}:
    get:
      operationId: getPersonById
      summary: Get Person by ID
      description: Retrieve a specific person by their unique identifier
      tags:
        - Relations
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Person details
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Person'
        '404':
          description: Person not found

  /Relations/Suppliers:
    get:
      operationId: getSuppliers
      summary: Get Suppliers
      description: Retrieve a list of suppliers (entities from which you receive invoices, e.g., cleaning companies, tax authorities)
      tags:
        - Relations
      parameters:
        - name: search
          in: query
          description: Search term to filter suppliers by name
          schema:
            type: string
        - name: limit
          in: query
          schema:
            type: integer
            default: 50
        - name: offset
          in: query
          schema:
            type: integer
            default: 0
      responses:
        '200':
          description: List of suppliers
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/Supplier'
                  total:
                    type: integer

  /Relations/Suppliers/{id}:
    get:
      operationId: getSupplierById
      summary: Get Supplier by ID
      description: Retrieve a specific supplier by their unique identifier
      tags:
        - Relations
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Supplier details
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Supplier'
        '404':
          description: Supplier not found

  # ==================== REAL ESTATE OBJECTS ====================
  /RealEstateObjects/Buildings:
    get:
      operationId: getBuildings
      summary: Get Buildings
      description: Retrieve a list of buildings. A building is a standalone entity, a row house or entire building that is not divided into multiple parts.
      tags:
        - RealEstateObjects
      parameters:
        - name: search
          in: query
          description: Search term to filter buildings by name or address
          schema:
            type: string
        - name: ownerId
          in: query
          description: Filter buildings by owner
          schema:
            type: string
        - name: limit
          in: query
          schema:
            type: integer
            default: 50
        - name: offset
          in: query
          schema:
            type: integer
            default: 0
      responses:
        '200':
          description: List of buildings
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/Building'
                  total:
                    type: integer

  /RealEstateObjects/Buildings/{id}:
    get:
      operationId: getBuildingById
      summary: Get Building by ID
      description: Retrieve a specific building by its unique identifier
      tags:
        - RealEstateObjects
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Building details
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Building'
        '404':
          description: Building not found

  /RealEstateObjects/Complexes:
    get:
      operationId: getComplexes
      summary: Get Complexes
      description: Retrieve a list of complexes. A complex is a collection of rentable units, often under one roof.
      tags:
        - RealEstateObjects
      parameters:
        - name: search
          in: query
          description: Search term to filter complexes by name or address
          schema:
            type: string
        - name: ownerId
          in: query
          description: Filter complexes by owner
          schema:
            type: string
        - name: limit
          in: query
          schema:
            type: integer
            default: 50
        - name: offset
          in: query
          schema:
            type: integer
            default: 0
      responses:
        '200':
          description: List of complexes
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/Complex'
                  total:
                    type: integer

  /RealEstateObjects/Complexes/{id}:
    get:
      operationId: getComplexById
      summary: Get Complex by ID
      description: Retrieve a specific complex by its unique identifier
      tags:
        - RealEstateObjects
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Complex details
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Complex'
        '404':
          description: Complex not found

  /RealEstateObjects/Sections:
    get:
      operationId: getSections
      summary: Get Sections
      description: Retrieve a list of sections. Sections are parts of a building, useful for service cost allocation.
      tags:
        - RealEstateObjects
      parameters:
        - name: complexId
          in: query
          description: Filter sections by complex
          schema:
            type: string
        - name: limit
          in: query
          schema:
            type: integer
            default: 50
        - name: offset
          in: query
          schema:
            type: integer
            default: 0
      responses:
        '200':
          description: List of sections
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/Section'
                  total:
                    type: integer

  /RealEstateObjects/Sections/{id}:
    get:
      operationId: getSectionById
      summary: Get Section by ID
      description: Retrieve a specific section by its unique identifier
      tags:
        - RealEstateObjects
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Section details
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Section'
        '404':
          description: Section not found

  /RealEstateObjects/Units:
    get:
      operationId: getUnits
      summary: Get Units
      description: |
        Retrieve a list of rental units. A unit can be included in a rental contract and is part of a complex or building section.
        
        Supports OData query parameters for advanced filtering:
        - $filter: Filter by properties (e.g., `isVacant eq true`, `rentAmount gt 1000`, `unitType eq 'apartment'`)
        - $select: Choose specific fields to return
        - $orderby: Sort results (e.g., `rentAmount desc`, `address asc`)
        - $expand: Include related data (e.g., `currentTenant`, `building`, `contracts`)
      tags:
        - RealEstateObjects
      parameters:
        - name: search
          in: query
          description: Search term to filter units by name or address
          schema:
            type: string
        - name: complexId
          in: query
          description: Filter units by complex
          schema:
            type: string
        - name: sectionId
          in: query
          description: Filter units by section
          schema:
            type: string
        - name: isVacant
          in: query
          description: Filter for vacant units only
          schema:
            type: boolean
        - $ref: '#/components/parameters/filter'
        - $ref: '#/components/parameters/select'
        - $ref: '#/components/parameters/orderby'
        - $ref: '#/components/parameters/top'
        - $ref: '#/components/parameters/skip'
        - $ref: '#/components/parameters/count'
        - $ref: '#/components/parameters/expand'
      responses:
        '200':
          description: List of units
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/Unit'
                  total:
                    type: integer

  /RealEstateObjects/Units/{id}:
    get:
      operationId: getUnitById
      summary: Get Unit by ID
      description: Retrieve a specific unit by its unique identifier
      tags:
        - RealEstateObjects
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Unit details
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Unit'
        '404':
          description: Unit not found

  # ==================== CONTRACTS ====================
  /Contracts/CommercialRent:
    get:
      operationId: getCommercialRentContracts
      summary: Get Commercial Rent Contracts
      description: |
        Retrieve commercial rent contracts for stores, offices, and commercial spaces.
        
        Supports OData query parameters for advanced filtering:
        - $filter: Filter by properties (e.g., `status eq 'active'`, `monthlyRent gt 5000`, `endDate lt 2025-06-01`)
        - $select: Choose specific fields to return
        - $orderby: Sort results (e.g., `endDate asc` for contracts expiring soonest)
        - $expand: Include related data (e.g., `tenant`, `unit`, `building`)
      tags:
        - Contracts
      parameters:
        - name: tenantId
          in: query
          description: Filter by tenant ID
          schema:
            type: string
        - name: unitId
          in: query
          description: Filter by unit ID
          schema:
            type: string
        - name: status
          in: query
          description: Filter by contract status
          schema:
            type: string
            enum: [active, expired, terminated, concept]
        - name: expiringBefore
          in: query
          description: Filter contracts expiring before this date (ISO 8601)
          schema:
            type: string
            format: date
        - $ref: '#/components/parameters/filter'
        - $ref: '#/components/parameters/select'
        - $ref: '#/components/parameters/orderby'
        - $ref: '#/components/parameters/top'
        - $ref: '#/components/parameters/skip'
        - $ref: '#/components/parameters/count'
        - $ref: '#/components/parameters/expand'
      responses:
        '200':
          description: List of commercial rent contracts
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/CommercialRentContract'
                  total:
                    type: integer

  /Contracts/CommercialRent/{id}:
    get:
      operationId: getCommercialRentContractById
      summary: Get Commercial Rent Contract by ID
      description: Retrieve a specific commercial rent contract by its unique identifier
      tags:
        - Contracts
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Commercial rent contract details
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CommercialRentContract'
        '404':
          description: Contract not found

  /Contracts/PrivateRent:
    get:
      operationId: getPrivateRentContracts
      summary: Get Private Rent Contracts
      description: |
        Retrieve private rent contracts for residential real estate.
        
        Supports OData query parameters for advanced filtering:
        - $filter: Filter by properties (e.g., `status eq 'active'`, `monthlyRent gt 1500`)
        - $select: Choose specific fields to return
        - $orderby: Sort results (e.g., `endDate asc` for contracts expiring soonest)
        - $expand: Include related data (e.g., `tenant`, `unit`)
      tags:
        - Contracts
      parameters:
        - name: tenantId
          in: query
          description: Filter by tenant ID
          schema:
            type: string
        - name: unitId
          in: query
          description: Filter by unit ID
          schema:
            type: string
        - name: status
          in: query
          description: Filter by contract status
          schema:
            type: string
            enum: [active, expired, terminated, concept]
        - name: expiringBefore
          in: query
          description: Filter contracts expiring before this date (ISO 8601)
          schema:
            type: string
            format: date
        - $ref: '#/components/parameters/filter'
        - $ref: '#/components/parameters/select'
        - $ref: '#/components/parameters/orderby'
        - $ref: '#/components/parameters/top'
        - $ref: '#/components/parameters/skip'
        - $ref: '#/components/parameters/count'
        - $ref: '#/components/parameters/expand'
      responses:
        '200':
          description: List of private rent contracts
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/PrivateRentContract'
                  total:
                    type: integer

  /Contracts/PrivateRent/{id}:
    get:
      operationId: getPrivateRentContractById
      summary: Get Private Rent Contract by ID
      description: Retrieve a specific private rent contract by its unique identifier
      tags:
        - Contracts
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Private rent contract details
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PrivateRentContract'
        '404':
          description: Contract not found

  /Contracts/Supplier:
    get:
      operationId: getSupplierContracts
      summary: Get Supplier Contracts
      description: Retrieve supplier contracts for maintenance, services, etc.
      tags:
        - Contracts
      parameters:
        - name: supplierId
          in: query
          description: Filter by supplier ID
          schema:
            type: string
        - name: status
          in: query
          description: Filter by contract status
          schema:
            type: string
            enum: [active, expired, terminated]
        - name: limit
          in: query
          schema:
            type: integer
            default: 50
        - name: offset
          in: query
          schema:
            type: integer
            default: 0
      responses:
        '200':
          description: List of supplier contracts
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/SupplierContract'
                  total:
                    type: integer

  # ==================== MAINTENANCE ====================
  /Maintenance/ServiceTickets:
    get:
      operationId: getServiceTickets
      summary: Get Service Tickets
      description: |
        Retrieve maintenance service tickets for repairs and maintenance requests (read-only).
        
        Supports OData query parameters for advanced filtering:
        - $filter: Filter by properties (e.g., `status eq 'open'`, `priority eq 'urgent'`, `createdAt gt 2024-01-01`)
        - $select: Choose specific fields to return
        - $orderby: Sort results (e.g., `priority desc, createdAt asc` for urgent tickets first)
        - $expand: Include related data (e.g., `unit`, `building`, `reportedBy`, `assignedSupplier`)
      tags:
        - Maintenance
      parameters:
        - name: unitId
          in: query
          description: Filter by unit ID
          schema:
            type: string
        - name: buildingId
          in: query
          description: Filter by building ID
          schema:
            type: string
        - name: complexId
          in: query
          description: Filter by complex ID
          schema:
            type: string
        - name: status
          in: query
          description: Filter by ticket status
          schema:
            type: string
            enum: [open, in_progress, completed, cancelled]
        - name: priority
          in: query
          description: Filter by priority
          schema:
            type: string
            enum: [low, medium, high, urgent]
        - $ref: '#/components/parameters/filter'
        - $ref: '#/components/parameters/select'
        - $ref: '#/components/parameters/orderby'
        - $ref: '#/components/parameters/top'
        - $ref: '#/components/parameters/skip'
        - $ref: '#/components/parameters/count'
        - $ref: '#/components/parameters/expand'
        - $ref: '#/components/parameters/search'
      responses:
        '200':
          description: List of service tickets
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/ServiceTicket'
                  total:
                    type: integer

  /Maintenance/ServiceTickets/{id}:
    get:
      operationId: getServiceTicketById
      summary: Get Service Ticket by ID
      description: Retrieve a specific service ticket by its unique identifier
      tags:
        - Maintenance
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Service ticket details
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ServiceTicket'
        '404':
          description: Service ticket not found

  # ==================== INVOICES ====================
  /Invoices/Journals:
    get:
      operationId: getJournals
      summary: Get Journals
      description: |
        Retrieve invoice journals for financial tracking and analysis.
        
        Supports OData query parameters for advanced filtering:
        - $filter: Filter by properties (e.g., `amount gt 1000`, `journalType eq 'income'`)
        - $select: Choose specific fields to return
        - $orderby: Sort results (e.g., `date desc`, `amount desc`)
        - $expand: Include related data (e.g., `owner`, `unit`, `tenant`)
      tags:
        - Invoices
      parameters:
        - name: ownerId
          in: query
          description: Filter by owner ID
          schema:
            type: string
        - name: fromDate
          in: query
          description: Filter journals from this date (ISO 8601)
          schema:
            type: string
            format: date
        - name: toDate
          in: query
          description: Filter journals until this date (ISO 8601)
          schema:
            type: string
            format: date
        - $ref: '#/components/parameters/filter'
        - $ref: '#/components/parameters/select'
        - $ref: '#/components/parameters/orderby'
        - $ref: '#/components/parameters/top'
        - $ref: '#/components/parameters/skip'
        - $ref: '#/components/parameters/count'
        - $ref: '#/components/parameters/expand'
      responses:
        '200':
          description: List of journals
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/Journal'
                  total:
                    type: integer

  /Invoices/Journals/{id}:
    get:
      operationId: getJournalById
      summary: Get Journal by ID
      description: Retrieve a specific journal by its unique identifier
      tags:
        - Invoices
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Journal details
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Journal'
        '404':
          description: Journal not found

components:
  securitySchemes:
    bloxsApiKey:
      type: http
      scheme: bearer
      description: Bearer token for API authentication

  parameters:
    # OData Query Parameters
    filter:
      name: $filter
      in: query
      description: |
        OData filter expression to filter results. Examples:
        - `status eq 'active'` - Filter by exact value
        - `rentAmount gt 1000` - Greater than comparison
        - `startDate ge 2024-01-01` - Greater than or equal
        - `name contains 'Amsterdam'` - Contains text
        - `status eq 'active' and rentAmount gt 1000` - Multiple conditions with AND
        - `status eq 'open' or status eq 'in_progress'` - Multiple conditions with OR
      schema:
        type: string
    select:
      name: $select
      in: query
      description: |
        Comma-separated list of properties to include in the response. 
        Example: `id,name,email,phone` to return only these fields.
      schema:
        type: string
    orderby:
      name: $orderby
      in: query
      description: |
        Sort results by one or more properties. Examples:
        - `name asc` - Sort by name ascending
        - `createdAt desc` - Sort by creation date descending
        - `status asc, rentAmount desc` - Multiple sort criteria
      schema:
        type: string
    top:
      name: $top
      in: query
      description: Maximum number of results to return. Use with $skip for pagination.
      schema:
        type: integer
        minimum: 1
        maximum: 500
        default: 50
    skip:
      name: $skip
      in: query
      description: Number of results to skip. Use with $top for pagination.
      schema:
        type: integer
        minimum: 0
        default: 0
    count:
      name: $count
      in: query
      description: Include total count of matching results in response. Set to true to enable.
      schema:
        type: boolean
        default: false
    expand:
      name: $expand
      in: query
      description: |
        Expand related entities in the response. Examples:
        - `tenant` - Include tenant details
        - `unit` - Include unit details
        - `building,owner` - Include multiple related entities
      schema:
        type: string
    search:
      name: $search
      in: query
      description: "Full-text search across searchable fields. Example: Amsterdam office"
      schema:
        type: string

  schemas:
    # Relations Schemas
    EstateAgent:
      type: object
      properties:
        id:
          type: string
          description: Unique identifier
        name:
          type: string
          description: Name of the estate agent
        companyName:
          type: string
          description: Company name
        email:
          type: string
          format: email
        phone:
          type: string
        address:
          $ref: '#/components/schemas/Address'
        licenseNumber:
          type: string
        createdAt:
          type: string
          format: date-time
        updatedAt:
          type: string
          format: date-time

    Organisation:
      type: object
      properties:
        id:
          type: string
        name:
          type: string
          description: Organisation name
        legalName:
          type: string
        chamberOfCommerceNumber:
          type: string
          description: KvK number (Dutch Chamber of Commerce)
        vatNumber:
          type: string
        email:
          type: string
          format: email
        phone:
          type: string
        address:
          $ref: '#/components/schemas/Address'
        contactPersons:
          type: array
          items:
            $ref: '#/components/schemas/Person'
        createdAt:
          type: string
          format: date-time
        updatedAt:
          type: string
          format: date-time

    Owner:
      type: object
      properties:
        id:
          type: string
        name:
          type: string
        type:
          type: string
          enum: [individual, company, foundation]
        email:
          type: string
          format: email
        phone:
          type: string
        address:
          $ref: '#/components/schemas/Address'
        financialAdministrationId:
          type: string
          description: Reference to the owner's financial administration
        bankAccount:
          type: string
          description: IBAN
        createdAt:
          type: string
          format: date-time
        updatedAt:
          type: string
          format: date-time

    Person:
      type: object
      properties:
        id:
          type: string
        firstName:
          type: string
        lastName:
          type: string
        fullName:
          type: string
        email:
          type: string
          format: email
        phone:
          type: string
        mobilePhone:
          type: string
        organisationId:
          type: string
        role:
          type: string
          description: Role within the organisation
        address:
          $ref: '#/components/schemas/Address'
        createdAt:
          type: string
          format: date-time
        updatedAt:
          type: string
          format: date-time

    Supplier:
      type: object
      properties:
        id:
          type: string
        name:
          type: string
        category:
          type: string
          description: Type of supplier (cleaning, maintenance, utilities, etc.)
        chamberOfCommerceNumber:
          type: string
        vatNumber:
          type: string
        email:
          type: string
          format: email
        phone:
          type: string
        address:
          $ref: '#/components/schemas/Address'
        bankAccount:
          type: string
        paymentTermDays:
          type: integer
        createdAt:
          type: string
          format: date-time
        updatedAt:
          type: string
          format: date-time

    # Real Estate Objects Schemas
    Building:
      type: object
      properties:
        id:
          type: string
        name:
          type: string
        address:
          $ref: '#/components/schemas/Address'
        ownerId:
          type: string
        type:
          type: string
          description: Building type (residential, commercial, mixed)
        constructionYear:
          type: integer
        totalArea:
          type: number
          description: Total area in square meters
        energyLabel:
          type: string
        status:
          type: string
          enum: [available, rented, maintenance, sold]
        currentRentAmount:
          type: number
          description: Current monthly rent in EUR
        createdAt:
          type: string
          format: date-time
        updatedAt:
          type: string
          format: date-time

    Complex:
      type: object
      properties:
        id:
          type: string
        name:
          type: string
        address:
          $ref: '#/components/schemas/Address'
        ownerId:
          type: string
        totalUnits:
          type: integer
        vacantUnits:
          type: integer
        totalArea:
          type: number
        constructionYear:
          type: integer
        hasElevator:
          type: boolean
        parkingSpaces:
          type: integer
        createdAt:
          type: string
          format: date-time
        updatedAt:
          type: string
          format: date-time

    Section:
      type: object
      properties:
        id:
          type: string
        name:
          type: string
        complexId:
          type: string
        floor:
          type: integer
        type:
          type: string
          description: Section type (residential, commercial)
        totalUnits:
          type: integer
        serviceCostAllocation:
          type: string
          description: How service costs are allocated for this section
        createdAt:
          type: string
          format: date-time
        updatedAt:
          type: string
          format: date-time

    Unit:
      type: object
      properties:
        id:
          type: string
        name:
          type: string
        address:
          $ref: '#/components/schemas/Address'
        complexId:
          type: string
        sectionId:
          type: string
        floor:
          type: integer
        unitNumber:
          type: string
        type:
          type: string
          enum: [apartment, room, office, retail, warehouse, parking]
        area:
          type: number
          description: Area in square meters
        numberOfRooms:
          type: integer
        isVacant:
          type: boolean
        currentRentAmount:
          type: number
        targetRentAmount:
          type: number
        energyLabel:
          type: string
        currentTenantId:
          type: string
        currentContractId:
          type: string
        createdAt:
          type: string
          format: date-time
        updatedAt:
          type: string
          format: date-time

    # Contract Schemas
    CommercialRentContract:
      type: object
      properties:
        id:
          type: string
        contractNumber:
          type: string
        status:
          type: string
          enum: [concept, active, expired, terminated]
        tenantId:
          type: string
        tenantName:
          type: string
        unitId:
          type: string
        unitAddress:
          type: string
        startDate:
          type: string
          format: date
        endDate:
          type: string
          format: date
        rentAmount:
          type: number
          description: Monthly rent in EUR
        serviceCostAmount:
          type: number
        indexationDate:
          type: string
          format: date
        indexationType:
          type: string
        breakOptionDate:
          type: string
          format: date
        specialConditions:
          type: string
        signedAt:
          type: string
          format: date-time
        createdAt:
          type: string
          format: date-time
        updatedAt:
          type: string
          format: date-time

    PrivateRentContract:
      type: object
      properties:
        id:
          type: string
        contractNumber:
          type: string
        status:
          type: string
          enum: [concept, active, expired, terminated]
        tenantId:
          type: string
        tenantName:
          type: string
        unitId:
          type: string
        unitAddress:
          type: string
        startDate:
          type: string
          format: date
        endDate:
          type: string
          format: date
        rentAmount:
          type: number
        serviceCostAmount:
          type: number
        depositAmount:
          type: number
        indexationDate:
          type: string
          format: date
        noticePeriodMonths:
          type: integer
        signedAt:
          type: string
          format: date-time
        createdAt:
          type: string
          format: date-time
        updatedAt:
          type: string
          format: date-time

    SupplierContract:
      type: object
      properties:
        id:
          type: string
        contractNumber:
          type: string
        supplierId:
          type: string
        supplierName:
          type: string
        description:
          type: string
        status:
          type: string
          enum: [active, expired, terminated]
        startDate:
          type: string
          format: date
        endDate:
          type: string
          format: date
        annualValue:
          type: number
        paymentFrequency:
          type: string
          enum: [monthly, quarterly, annually]
        createdAt:
          type: string
          format: date-time
        updatedAt:
          type: string
          format: date-time

    # Maintenance Schemas
    ServiceTicket:
      type: object
      properties:
        id:
          type: string
        ticketNumber:
          type: string
        title:
          type: string
        description:
          type: string
        status:
          type: string
          enum: [open, in_progress, completed, cancelled]
        priority:
          type: string
          enum: [low, medium, high, urgent]
        category:
          type: string
          description: Type of maintenance (plumbing, electrical, HVAC, etc.)
        unitId:
          type: string
        buildingId:
          type: string
        complexId:
          type: string
        reportedBy:
          type: string
        reportedAt:
          type: string
          format: date-time
        assignedToSupplierId:
          type: string
        assignedToSupplierName:
          type: string
        scheduledDate:
          type: string
          format: date
        completedAt:
          type: string
          format: date-time
        estimatedCost:
          type: number
        actualCost:
          type: number
        notes:
          type: string
        createdAt:
          type: string
          format: date-time
        updatedAt:
          type: string
          format: date-time

    ServiceTicketCreate:
      type: object
      required:
        - title
        - description
      properties:
        title:
          type: string
        description:
          type: string
        priority:
          type: string
          enum: [low, medium, high, urgent]
        category:
          type: string
        unitId:
          type: string
        buildingId:
          type: string
        complexId:
          type: string

    ServiceTicketUpdate:
      type: object
      properties:
        title:
          type: string
        description:
          type: string
        status:
          type: string
          enum: [open, in_progress, completed, cancelled]
        priority:
          type: string
          enum: [low, medium, high, urgent]
        assignedToSupplierId:
          type: string
        scheduledDate:
          type: string
          format: date
        notes:
          type: string

    # Invoice Schemas
    Journal:
      type: object
      properties:
        id:
          type: string
        journalNumber:
          type: string
        ownerId:
          type: string
        ownerName:
          type: string
        date:
          type: string
          format: date
        description:
          type: string
        totalDebit:
          type: number
        totalCredit:
          type: number
        entries:
          type: array
          items:
            $ref: '#/components/schemas/JournalEntry'
        createdAt:
          type: string
          format: date-time

    JournalEntry:
      type: object
      properties:
        id:
          type: string
        accountCode:
          type: string
        accountName:
          type: string
        description:
          type: string
        debitAmount:
          type: number
        creditAmount:
          type: number
        reference:
          type: string

    # Common Schemas
    Address:
      type: object
      properties:
        street:
          type: string
        houseNumber:
          type: string
        houseNumberAddition:
          type: string
        postalCode:
          type: string
        city:
          type: string
        country:
          type: string
          default: Netherlands
